.header {
    display: flex;
    justify-content: space-between;
    padding: 32px 160px 32px 160px;
}

.header .icon-container {
    border-radius: 6px;
}

.header .options {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 38px;
}

.logo {
    cursor: pointer;
}

.location .icon-container {
    padding: 0;
}

.location {
    display: flex;
    gap: 4px;
    padding: 8px;
    align-items: center;
    justify-content: center;
    background-color: var(--off-purple);
    padding-right: 8px;
    border-radius: 6px;
    color: hsla(259, 57%, 37%, 1);
    font-weight: 400;
}

.cart {
    position: relative;
    cursor: pointer;
    height: 100%;
}

.quantity {
    position: absolute;
    right: -8px;
    top: -8px;
    font-size: 12px;
    font-weight: 700;
    background-color: var(--orange);
    color: white;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}