svg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-container {
    padding: 8px;
    display: inline-block;
    border-radius: 6px;
    transition: 0.5s;
}

.rounded {
    border-radius: 100%;
}